/*HEADER*/

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.box-header2{
  position:absolute;
  display: inline;
  margin-top:20px;
  padding-left: 150px;
}
span{
  margin:15px;
  width: 1;
  margin-top:7px;

}
/*reducimos el logo */
.logo-header{
  width: 30px;
}
/*modificamos  la primera caja */
.box-header {
  display: inline ;
  margin-top:10px;
}
/*hacemos un rectangulo*/
.search{

  display: inline-block;
  margin-top:10px; }

  input {
      width: 880px;
      padding: 10px;
      border-radius: 21px;
      display: inline-block;
      margin-top:2px;

  }
/*modificamos tamaño de los iconos */
[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;
}
/*colocamos el margen y el lugar donde ira los iconos*/
.icon-search{
  position:absolute;
  display: inline;
  top : 20px;
  left: 70px;
}
.icon-circle-down{
  position:absolute;
  display: inline;
  margin-left: 850px;
  top : 20px;

}
.icon-cross{
position:absolute;
display: inline;
margin-left: 740px;
top: 20px;


}
/*ponemos el lugar donde va el texto */
.text{position:absolute;
display: inline;
margin-left:770px;
font-size: 20px;
top: 4px;}


button{
  background-color: #958A89;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  align:center;

}

img{
  width: 220px;


}
.contenedor{
  width: 90%;
  margin: 25px auto;
  position: relative;

}
.elemento{
  width: 220px;
  background: #fff;
  float: left;
  margin-right: 15px;
  margin-bottom:15px ;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}



}
.elemento p{
  padding: 11px;
  font-size: 13px;
}
.elemento img{
  width: 100%;}
